.product-card {
  text-align: center;
  width: 22%;
  height: 350px;
  border: 1px solid #222;
  margin: 2%;
  padding: 10px;
  box-shadow: 2px 3px 10px 1px #ccc
}

.header {
  height: 60%;
}

.header img {
  height: 80%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.description-container {
  height: 40%;
  text-align: justify;
  display: table;
}

.description-container div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}